body{
    background: #000000;
    color: rgb(255, 255, 255);
    font-family: helvetica, arial, sans-serif;
    margin:0;
    padding:0;
}

.features figure img{
    position: relative;
    position:90px;
    margin:auto;
    width:500px;
}

ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    margin-right: 20px;
}

header nav ul li a{
    color: white;
}


header{
    background-color: black;
    background-image: url("images/logo2.png");
    background-size:100%;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    padding:20px;
    height:500px;
}

header ul li{
    background-position: center;
}

section{
    color: black;
    background:white;
    padding: 20px;
    display:flex;
    height: 1000px;
}

section div{
    width:50%;
    font-size:25px;
}

section div button.calculation{
    width:150px;
    height:50px;
    background-image:url("images/logo2.png");
    background-size:500px;
    color:white;
    border-radius: 8px;
    font-size:20px;
}

.buttonHolder{
    width:35%;
    height:50px;
    position:relative;
    top:200px;
    left:600px;
}

div.productBasicInfo{
    width:50%;
    margin:auto;
}

footer{
    background:black;
    padding:10px 20px;
    font-size:10px;
}